.ipynb_checkpoints/
.config/
raw_data
data
scripts/rip.properties
.DS_Store
scripts/ripme.jar
scripts/history.json
key.txt

# For current structure
env
datasets/gore
datasets/wget-log*
datasets/nsfw_data_scraper/raw_data

checkpoints/

models/dataset

content_cop/*
